body {
    background-color: aquamarine;
}
video {
    max-width: 200px;
    max-height: 200px;
}

@media (min-width : 480px) {
    body {
        background-color : red ; 
    } 
    video {
        max-width: 275px;
        max-height: 275px;
    }
}

@media (min-width: 680px) {
    body {
        background-color: brown;
    }
    video {
        max-width: 500px;
        max-height: 500px;
    }
}